<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monthly Deposit  Reminder</title>
  <style>
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }
    .d-block{
      display: block;
    }
  
    .container{
      max-width: 400px;
      margin: 0 auto;
      font-size: 14px;
      border: 1px solid #ddd; /* Light gray border */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
      border-radius: 5px; /* Rounded corners */
      background-color: #fff; /* White background */
      
    }
    
    .content{
      padding: 20px;
    }

    header{
      background-color: #E7C615;
      text-align: center;
      margin-bottom: 15px;
      padding: 30px 0;
    }

    .footer{
      background-color: #E7C615;
      text-align: center;
      padding: 20px 0;
      margin: 0 auto;
      
    }

    .footer img{
vertical-align: middle;
    }

    .text-primary{
      color: #685905;
    }
    .subject{
      font-weight: bolder;
    }
    
    h6{
      font-weight: bold;
      font-size: 15px;
    }
    h6, p, ul, li, h5{
      margin: 0;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .fw-bold{
      font-weight: bold;
    }
  
    h5{
      font-size: 15px;
      color:#a58d08;
      font-weight: bolder;
    }
    .mb-1{
      margin-bottom: 5px;
    }
    .mb-2{
      margin-bottom: 8px;
    }
    .mb-3{
      margin-bottom: 12px;
    }
    .mb-4{
      margin-bottom: 15px;
    }
    .mb-5{
      margin-bottom: 25px;
    }
    a{
      text-decoration: none;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class='container'>
    <header>
      <img src = "https://api.growthspringers.com/img/logo1.png" alt="GrowthSpring Logo"/>
    </header>

    <div class='content'>
      <p class='mb-4 fw-light'>Dear <%= name %>,  </p>
      <h3 class = "subject text-primary" >Monthly Deposit Reminder</h3>
      <p class='mb-4'>
       This is a gentle reminder to send in your <span class="fw-bold">monthly deposit</span> before the end of the month <span class="fw-bold"> — just one day to go!</span>
      </p>
      <p class='mb-4'>
        Please let the treasurer know once the deposit is made or if you need any assistance.
      </p>
      <p class='mb-5' >
        Thanks for your continued commitment!
      </p>

      <p class='mb-4'>Warm Regards,</p>
      <h3 class='mb-3 text-primary'>Alerts | GrowthSpring</h3>
    </div>
    <footer class="footer" >
      <img style="width: 40px" src = "https://api.growthspringers.com/img/logo2.png" alt="GrowthSpring Logo"/>
      <span>there when you need us ...</span>
    </footer>
  </div>
</body>
</html>