<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Created</title>
</head>
<body>
  <h1>Account Created</h1>
  <p> Your password : <strong> <%= password %> </strong> </p>
</body>
</html>